/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2018, 5:16:41 PM
    Author     : Shauni
*/


.button { 
    
    /* ----   BACKGROUND   ----*/
    -fx-background-image: url("/img/Button.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-color: transparent;
    
    /* ----   POSITIONING   ----*/
    -fx-margin: 15 15 15 15;
    -fx-text-fill:white;
 
    

}

.button .text{
       /* ----   TEXT   ----*/
       
    
    -fx-font: 32px Verdana ;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-font-weight: bold;
    

}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover{
    /*-fx-background-image: url("/img/Button.png");*/

}