/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2018, 3:12:44 PM
    Author     : Shauni
*/

.text{
    -fx-fill: white;
    -fx-font: 30px Verdana;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
    -fx-font-weight: bold;
}

.text-field{
    -fx-max-width: 250;
}

.text-input{
    -fx-font: 20px Verdana;
}